@page
@model PYMB_Web.Pages.ContacsPage.IndexModel
@{
}

<h2>Contacts</h2>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">SURNAME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">PHONE</th>
    </tr>
  </thead>